{% extends "base.html" %}

{% block title %}หน้าหลัก | Find my dog{% endblock %} 

{% block content %}
    
    <div class="text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">ยินดีต้อนรับสู่ชุมชน Find my dog!</h2>
        <p class="text-lg text-gray-600">ที่นี่คือศูนย์รวมข้อมูลเพื่อตามหาน้องหมาที่หายไป</p>
        
        <div class="mt-8 space-x-4">
            <a href="{% url 'register_dog_page' %}" class="btn btn-lg btn-info">ลงทะเบียนสุนัข</a>
            <a href="{% url 'lost_dogs_map_view' %}" class="btn btn-lg btn-error">สุนัขที่สูญหาย</a>
        </div>
        
    </div>

{% endblock %}